<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse">
  <div class="container">
      
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Miami Developers', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.blank? %>
          <li><a href="#" data-toggle="modal" data-target="#become-a-member">Become a Member</a></li>
        <% else %>
          <li><%= link_to 'Sign out', signout_path, class:"btn btn-link" %></li>
        <% end %>
        <% if current_user && current_user.admin || Rails.env.development? %>
          <li><a href="#" data-toggle="modal" data-target="#connect-stack-overflow">Connect StackOverflow</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->

    <!-- Modal -->
    <div class="modal fade" id="become-a-member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Become a Member!</h3>
          </div>
          <div class="modal-body text-center">
            
            <p>Your profile will show a heart showing that you're a member. We still don't know what being a member means, but trust us, it will be awesome.</p>

            <%= render 'layouts/nav_links_for_auth' %>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="connect-stack-overflow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title text-center">Connect Stack Overflow</h3>
          </div>

          <div class="modal-body text-center">
            <!-- <p>
              Connect your Stack Overflow account.
            </p> -->
            <p>
              <%= link_to "<i class='fa fa-stack-overflow'></i> Connect Stack Overflow".html_safe, "", class: "btn btn-sm btn-social btn-primary text-center js-stack-overflow-btn" %>
            </p>
            <br>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>

  </div>
</nav>

<script type="text/javascript">
  $(document).ready(function(){

    SE.init({
      clientId: '6688',
      key: 'uXqroen1cc3pMoAjyeas6g((',
      channelUrl: 'www.miamidevs.com',
      complete: function (data) { console.log('SO ready!', data) }
    });

    $('.js-stack-overflow-btn').on('click', function(){
      SE.authenticate({
        success: function(data) { 
          alert(
                'User Authorized with account id = ' + 
                data.networkUsers[0].account_id + ', got access token = ' + 
                data.accessToken
            ); 
        },
        error: function(data) { 
          alert('An error occurred:\n' + data.errorName + '\n' + data.errorMessage); 
        },
        // scope: ['read_inbox'],
        networkUsers: true
      });
    })
  });
</script>
